*, * > *{-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
:root{
    --purple:#af7dff;
    --dark-purple:#957dff;
    --light-purple:#cb7dff;
    --dark-gray:#222;
    --light-gray:#ddd;
}

body{background:var(--dark-gray); font-size:16px; font-family:Asap, sans-serif; padding-top:80px;}
img{width:100%; height:auto;}
a{color:var(--purple); text-decoration:none;}
a:hover{text-decoration:underline;}
a.button{display:inline-block; padding:5px 10px; text-align:center; background:white; color:var(--purple); border:2px solid var(--purple); border-radius:5px; text-decoration:none; transition:all 0.5s;}
a.button:hover{background-color:var(--purple); color:white;}

header{background:var(--light-gray); position:fixed; top:0; left:0; right:0; z-index:1; box-shadow:0px 2px 5px 0px #555;}

.logo{padding-top:15px; padding-bottom:15px;}
.logo img{max-width:200px;}

.top-nav{padding:0; justify-content:flex-end;}
.top-nav a{display:block; line-height:50px; padding:15px; font-weight:700;}
.top-nav a:hover{background:var(--purple); color:white; text-decoration:none;}
.top-nav a.navbar-toggle{display:none;}

footer{background:var(--dark-purple); text-align:center; margin-top:15px;}
.social ul{margin:0; padding:0; list-style-type:none;}
.social li{display:inline-block; padding:10px;}
.social a{color:white; font-size:26px;}
.social a:hover{color:var(--light-purple);}

.container.main, .container.secondary{background:white; color:black; margin:20px auto 0; padding-top:15px;}

.card{margin:10px 0 10px 10px; border:2px solid var(--dark-gray); padding:10px; text-align:center; float:right; width:40%;}
.card h3{margin-top:0;}

.left-col h1{color:var(--purple);}

@media (max-width:767px){
    .card{float:none; margin:10px 0; width:100%;}
    .right-col{padding-top:15px;}
    .top-nav a{padding:15px 10px; font-size:14px;}
}
@media (max-width:575px){
    body{padding-top:145px;}
    header{max-height:160px; overflow:hidden; transition:max-height 1s;}
    .logo{text-align:center;}
    .top-nav{flex-direction:column;}
    .top-nav a{width:100%; text-align:center; font-size:20px;}
    .top-nav a.navbar-toggle.closed{display:block;}
    header.navbar-open{max-height:1000px;}
    header.navbar-open a.navbar-toggle.closed{display:none;}
    header.navbar-open a.navbar-toggle.open{display:block;}
}